# Bỏ qua môi trường ảo Python
backend/venv/
venv/

# Bỏ qua thư viện của Node.js
frontend/node_modules/
node_modules/

# Bỏ qua các file trọng số AI quá nặng (tránh lỗi vượt quá 100MB của GitHub)
backend/phobert_saved_model/
backend/phobert_v1/*.bin
backend/phobert_v1/*.safetensors
backend/phobert_v2/*.bin
backend/phobert_v2/*.safetensors
ml_training/*.pkl

# Bỏ qua các file cache của hệ thống
__pycache__/
*.pyc
.DS_Store

# Bỏ qua các file môi trường bảo mật
.env